# KDE Config File
[Desktop Entry]
Type=Application
Exec=step -qwindowtitle %c -qwindowicon step
Icon=step
X-DocPath=step/index.html
Terminal=false
Name=Step
Name[ast]=Step
Name[bg]=Step
Name[bs]=Step
Name[ca]=Step
Name[ca@valencia]=Step
Name[cs]=Step
Name[da]=Step
Name[de]=Step
Name[el]=Step
Name[en_GB]=Step
Name[eo]=Step
Name[es]=Step
Name[et]=Step
Name[eu]=Urratsa
Name[fi]=Step
Name[fr]=Step
Name[ga]=Step
Name[gl]=Step
Name[gu]=સ્ટેપ
Name[he]=צעד
Name[hne]=स्टेप
Name[hu]=Step
Name[is]=Skref
Name[it]=Step
Name[ja]=Step
Name[kk]=Step
Name[km]=ជំហាន
Name[ko]=Step
Name[lt]=Step
Name[lv]=Step
Name[ml]=സ്റ്റെപ്പ്
Name[mr]=स्टेप
Name[nb]=Step
Name[nds]=Step
Name[nl]=Step
Name[nn]=Steg
Name[oc]=Pas
Name[pa]=ਸਟੈਪ
Name[pl]=Step
Name[pt]=Step
Name[pt_BR]=Step
Name[ru]=Step
Name[sk]=Step
Name[sl]=Step
Name[sv]=Step
Name[tr]=Step
Name[ug]=Step
Name[uk]=Step
Name[x-test]=xxStepxx
Name[zh_CN]=Step
Name[zh_TW]=物理_Step
GenericName=Interactive Physical Simulator
GenericName[bg]=Интерактивен физически симулатор
GenericName[bs]=Interaktivni simulator fizike
GenericName[ca]=Simulador interactiu de física
GenericName[ca@valencia]=Simulador interactiu de física
GenericName[cs]=Interaktivní fyzikální simulátor
GenericName[da]=Interaktiv fysiksimulator
GenericName[de]=Interaktiver Physiksimulator
GenericName[el]=Aλληλεπιδραστικός εξομοιωτής φυσικής
GenericName[en_GB]=Interactive Physical Simulator
GenericName[es]=Simulador físico interactivo
GenericName[et]=Interaktiivne füüsikasimulaator
GenericName[fi]=Vuorovaikutteinen fysiikkasimulaattori
GenericName[fr]=Simulateur physique interactif
GenericName[ga]=Insamhlóir Idirghníomhach Fisiceach
GenericName[gl]=Simulador físico interactivo
GenericName[gu]=ઇન્ટરએક્ટિવ ભૌતિકી સિમ્યુલેટર
GenericName[hr]=Interaktivni simulator fizike
GenericName[hu]=Interaktív fizikai szimulátor
GenericName[is]=Gagnvirkur eðlisfræðihemir
GenericName[it]=Simulatore interattivo di fisica
GenericName[ja]=対話式の物理シミュレータ
GenericName[kk]=Интерактивті физика иммитаторы
GenericName[km]=កម្មវិធី​ត្រាប់តាម​រូប​សាស្ត្រអន្តរកម្ម
GenericName[ko]=인터랙티브 물리학 시뮬레이터
GenericName[lt]=Interaktyvus fizikos modeliatorius
GenericName[lv]=Interaktīvs fizikas simulators
GenericName[mr]=परस्पर संवाद भौमितिक सिम्युलेटर
GenericName[nb]=Interaktiv fysikksimulator
GenericName[nds]=Brukerstüert Physiksimuleren
GenericName[nl]=Interactieve natuurkundige simulaties
GenericName[nn]=Interaktiv fysikksimulator
GenericName[pa]=ਇੰਟਰਐਕਟਿਵ ਫਿਜ਼ੀਕਲ ਸੇਮੂਲੇਟਰ
GenericName[pl]=Interaktywny symulator fizyczny
GenericName[pt]=Simulador de Física Interactivo
GenericName[pt_BR]=Simulador de Física interativo
GenericName[ru]=Интерактивный физический симулятор
GenericName[sk]=Interaktívny fyzikálny simulátor
GenericName[sl]=Interaktivni fizikalni simulator
GenericName[sv]=Interaktiv fysiksimulator
GenericName[tr]=Etkileşimli Fizik Öykünücüsü
GenericName[uk]=Інтерактивний фізичний імітатор
GenericName[x-test]=xxInteractive Physical Simulatorxx
GenericName[zh_CN]=交互式物理模拟器
GenericName[zh_TW]=互動式物理模擬器
Comment=Simulate physics experiments
Comment[bg]=Симулация на физически опити
Comment[bs]=Simulira fizičke eksperimente
Comment[ca]=Simuleu experiments de física
Comment[ca@valencia]=Simuleu experiments de física
Comment[cs]=Napodobuje fyzikální pokusy
Comment[da]=Simulér fysiske eksperimenter
Comment[de]=Physikalische Experimente simulieren
Comment[el]=Εξομοίωση πειραμάτων φυσικής
Comment[en_GB]=Simulate physics experiments
Comment[es]=Simula experimentos físicos
Comment[et]=Füüsikakatsete simulaator
Comment[eu]=Silumatzaile fisiko esperimentala
Comment[fi]=Simuloi fysiikan kokeita
Comment[fr]=Simulation d'expériences physiques
Comment[ga]=Insamhail turgnaimh fhisice
Comment[gl]=Simula experimentos físicos
Comment[gu]=ભૌતિકવિજ્ઞાનનાં પ્રયોગો કરો
Comment[he]=מדמה ניסויים פיזיקליים
Comment[hr]=Simuliraj fizičke eksperimente
Comment[hu]=Fizikai kísérletek szimulációja
Comment[is]=Líkir eftir eðlisfræðitilraunum
Comment[it]=Simula esperimenti fisici
Comment[ja]=物理の実験をシミュレートします
Comment[kk]=Физика эксперименттерінің иммитациясы
Comment[km]=ត្រាប់តាម​ការ​ពិសោធន៍​រូប​សាស្ត្រ​
Comment[ko]=물리 실험 시뮬레이션
Comment[lt]=Simuliuokite fizikos eksperimentus
Comment[lv]=Simulē fizikas eksperimentus
Comment[ml]=ഫിസിക്സ് പരീക്ഷണങ്ങള്‍ സിമുലേറ്റ് ചെയ്യുക
Comment[mr]=भौतिकशास्त्रातील प्रयोग सिम्यलेट करतो
Comment[nb]=Simuler fysikk-eksperimenter
Comment[nds]=Physik-Experimenten simuleren
Comment[nl]=Natuurkundige experimenten simuleren
Comment[nn]=Simuler fysiske eksperiment
Comment[pa]=ਸੇਮੂਲੇਟਰ ਫਿਜ਼ੀਕਲ ਤਜਰਬੇ
Comment[pl]=Symulowanie eksperymentów fizycznych
Comment[pt]=Simular experiências de física
Comment[pt_BR]=Simula experimentos de física
Comment[ro]=Simulează experimente fizice
Comment[ru]=Симуляция физических экспериментов
Comment[sk]=Simulácia fyzikálnych experimentov
Comment[sl]=Simulirajte fizikalne poskuse
Comment[sv]=Simulera fysikexperiment
Comment[tr]=Fizik deneylerine öykün
Comment[ug]=فىزىكا تەجرىبىسىنى تەقلىدلەش
Comment[uk]=Імітує фізичні досліди
Comment[x-test]=xxSimulate physics experimentsxx
Comment[zh_CN]=物理实验模拟
Comment[zh_TW]=模擬物理實驗
Categories=Qt;KDE;Education;Physics;
X-DBUS-ServiceName=org.kde.step
