# KDE Config File
[Desktop Entry]
Type=Application
Exec=step -caption "%c" %i
Icon=step
X-DocPath=step/index.html
Terminal=false
Name=Step
GenericName=Interactive physical simulator
GenericName[ga]=Insamhlóir idirghníomhach fisiceach
GenericName[ja]=対話式の物理シミュレータ
GenericName[pt]=Simulador de Física Interactiva
GenericName[pt_BR]=Simulador de Física Interactiva
GenericName[uk]=Інтерактивний фізичний імітатор
Comment=Simulate physics experiments
Comment[ga]=Insamhail turgnaimh fhisice
Comment[ja]=物理の実験をシミュレートします
Comment[pt]=Simular experiências de física
Comment[pt_BR]=Simular experiências de física
Comment[uk]=Імітує фізичні досліди
Categories=Qt;KDE;Education;Science;
