# KDE Config File
[Desktop Entry]
Type=Application
Exec=step -caption "%c" %i
Icon=step
X-DocPath=step/index.html
Terminal=false
Name=Step
GenericName=Interactive physical simulator
GenericName[et]=Interaktiivne füüsikasimulaator
GenericName[sv]=Interaktiv fysiksimulator
Comment=Simulate physics experiments
Comment[et]=Füüsikakatsete simulaator
Comment[sv]=Simulera fysikexperiment
Categories=Qt;KDE;Education;Science;
