# KDE Config File
[Desktop Entry]
Type=Application
Exec=step -caption "%c" %i
Icon=step
X-DocPath=step/index.html
Terminal=false
Name=Step
Name[gu]=સ્ટેપ
Name[he]=צעד
Name[hne]=स्टेप
Name[km]=ជំហាន
Name[ko]=Stop
Name[ml]=സ്റ്റെപ്പ്
Name[nn]=Steg
Name[oc]=Pas
Name[pa]=ਸਟੈਪ
Name[x-test]=xxStepxx
GenericName=Interactive Physical Simulator
GenericName[ca]=Simulador interactiu de física
GenericName[da]=Interaktiv fysiksimulator
GenericName[es]=Simulador físico interactivo
GenericName[et]=Interaktiivne füüsikasimulaator
GenericName[pt]=Simulador de Física Interactivo
GenericName[pt_BR]=Simulador físico interativo
GenericName[sv]=Interaktiv fysiksimulator
GenericName[uk]=Інтерактивний фізичний імітатор
GenericName[zh_TW]=互動式物理模擬器
Comment=Simulate physics experiments
Comment[ca]=Simuleu experiments de física
Comment[cs]=Napodobuje fyzikální pokusy
Comment[da]=Simulér fysiske eksperimenter
Comment[de]=Physikalische Experimente simulieren
Comment[el]=Εξομοίωση πειραμάτων φυσικής
Comment[es]=Simula experimentos físicos
Comment[et]=Füüsikakatsete simulaator
Comment[fr]=Simulation d'expériences physiques
Comment[ga]=Insamhail turgnaimh fhisice
Comment[gl]=Simula experimentos físicos
Comment[gu]=ભૌતિકવિજ્ઞાનનાં પ્રયોગો કરો
Comment[he]=מדמה ניסויים פיזיקליים
Comment[it]=Simula esperimenti fisici
Comment[ja]=物理の実験をシミュレートします
Comment[km]=ត្រាប់តាម​ការ​ពិសោធន៍​ធម្មតា​
Comment[ko]=물리 실험 시뮬레이션
Comment[lt]=Simuliuokite fizikos eksperimentus
Comment[lv]=Imitē fizikas eksperimentus
Comment[ml]=ഫിസിക്സ് പരീക്ഷണങ്ങള്‍ സിമുലേറ്റ് ചെയ്യുക
Comment[nb]=Simuler fysikk-eksperimenter
Comment[nds]=Physik-Experimenten simuleren
Comment[nl]=Natuurkundige experimenten simuleren
Comment[nn]=Simuler fysiske eksperiment
Comment[pl]=Symulowanie eksperymentów fizycznych
Comment[pt]=Simular experiências de física
Comment[pt_BR]=Simula experimentos de física
Comment[ro]=Simulează experimente fizice
Comment[ru]=Симуляция физических экспериментов
Comment[sv]=Simulera fysikexperiment
Comment[tr]=Fizik deneylerine öykün
Comment[uk]=Імітує фізичні досліди
Comment[x-test]=xxSimulate physics experimentsxx
Comment[zh_CN]=物理实验模拟
Comment[zh_TW]=模擬物理實驗
Categories=Qt;KDE;Education;Physics;
